{% extends 'base.html.twig' %}

{% block title %}Hello ContactTypeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <ul>
        <li>Aller à l' <code><a href="{{ path('home') }}">Accueil</a></code></li>

        <li>Your controller at <code><a href="{{ path('contact') }}">Contact</a></code></li>
        <li>Your template at <code><a href="{{ path('contactType', {type: "un_type_au_pif" })}}">Contacter Type</a></code></li>

        <li>Your template at <code><a href="{{ path('contact', {type: "montpellier" })}}">Contacter Montpellier</a></code></li>
    </ul>
</div>
{% endblock %}
